<body>
  <div class="card-panel teal lighten-2">
    <h3>Wavelength</h3>
  </div>

<button class="waves-effect waves-yellow btn-large">Top</button>
<button class="waves-effect waves-yellow btn-large">New</button>
<button class="waves-effect waves-yellow btn-large">Add a Song!</button>

  {{#each songs}}
  <h1>{{title}}</h1>
  <p>{{artist}}</p>
  <p>{{rating}}</p>
  <p>{{total_ratings}}</p>
  <p>{{url}}</p>
  {{/each}}

</body>

</html>

<style>
  body {
    background: url(https://bestwallpapers.in/wp-content/uploads/2018/07/wolf-howling-to-moon-minimal-4k-wallpaper-1600x1200.jpg);
    background-size: cover;
  }

</style>