  <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
          <h1>{{name}}</h1>
            <p>{{number}}</p>
            <p>{{status}}</p>
            <p>{{currentStation}}</p>
            <p>{{eta}}</p>


          <div class="row">
            <div class="col s12 m7">
              <div class="card">
                <div class="card-content">
                  <p>spotify API here</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
    </body>
    </html> 